.App {
  font-family: sans-serif;
  text-align: center;
}
ul li {
  list-style-type: none;
  margin-left: 21px;
}
ul {
  display: inline-flex;
}

li.fullstar svg polygon {
  fill: orange;
  stroke: orange;
}
li.emptystar svg polygon {
  fill: white;
  stroke: black;
}
